{
  "global": {
    "workshopPath": "/workshop",
    "startScriptPath": "/start.sh",
    "stopGraceTimeoutMs": 30000,
    "forceKillTimeoutMs": 10000
  },
  "servers": [
    {
      "id": "test-server",
      "name": "Test",
      "iniPath": "/tmp/pzserver-config-panel-v2-test-1771391255328/api-test.ini",
      "startArgs": [
        "-servername",
        "test"
      ],
      "stopCommands": [
        "save",
        "quit"
      ]
    }
  ]
}
